name: Laravel CI

on: [push]

jobs:
  laravel-test:
    runs-on: ubuntu-latest 
  
    services:
      mysql:
        image: mysql:latest
        ports:
          - 3006:3006
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: laravel

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      
      - name: Setup PHP
        id: set_php
        uses: shivammathur/setup-php@2.35.5
        with:
          php-version: 8.4
          extensions: mbstring, bcmath, pdo, pdo_mysql

      # No tengo composer.json
      # - name: Install packages
      #   run: composer install --no-interaction

      - name: check deploy
        if: steps.set_php.outcome == 'success'
        run: ls -la
      
      - name: Upload a Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: artifacts
          path: README.md
