name: Hola Mundo

on: [push]

jobs:
  hola:
    runs-on: ubuntu-latest

    steps:
      - name: Hola Mundo
        run: echo "Hello, World!"

  other:
    runs-on: ubuntu-latest

    steps:
      - name: ls
        run: ls -la