# Variables de entorno - Aplicacion

name: Ejemplo de Composite Action

on: [push]

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: SSH connection
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.IP_HOST }} >> ~/.ssh/known_hosts
          cat ~/.ssh/known_hosts